body {
    background-color: black !important;
}
.container {
    height: 500px;
    width: 500px;
    background-color: white;
    align-content: center;
}
h1 {
    color: white;
}
.card {
     background-color: blue;
     margin: 5px;
     text-align: center;
     color: white;
}
#sticky-footer {
    max-width: 100%;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
        width: 100%;
        background-color:gray;
        color: white;
        text-align: center;
      
}
